<?xml version="1.0" encoding="UTF-8"?>

<widget>
  <ThumbIcon>icon/samygo_106.png</ThumbIcon>
  <BigThumbIcon>icon/samygo_115.png</BigThumbIcon>
  <ListIcon>icon/samygo_85.png</ListIcon>
  <BigListIcon>icon/samygo_95.png</BigListIcon>
  <previewjs>SamyGO-H</previewjs>
  <cpauthjs></cpauthjs>
  <ver>1.000</ver>
  <mgrver>1.000</mgrver>
  <fullwidget>n</fullwidget>
  <srcctl>n</srcctl>
  <ticker>n</ticker>
  <childlock>n</childlock>
  <audiomute>n</audiomute>
  <videomute>n</videomute>
  <dcont>y</dcont>
  <network>n</network>
  <hubsite>n</hubsite>
  <widgetname>SamyGO-H</widgetname>
  <description>SamyGO for H-series</description>
  <width>960</width>
  <height>540</height>
  <author>
    <name>evgeny.zyuzin@gmail.com</name>
    <email></email>
    <organization>www.samygo.tv</organization>
  </author>
</widget>